<div class="top">
    <div class="addMoreWrapper">
        <button class="addMoreBtn"  mat-raised-button (click)="openModal()">
            <mat-icon>add_to_queue</mat-icon> Add Video
        </button>
        
    </div>
    
    <div id="invite">
        <button mat-raised-button [cdkCopyToClipboard]="roominvite"
            (click)="this.openSnackBar('Copied to Clipboard', 'X', 1);">
            <mat-icon>content_copy</mat-icon> Copy Invite Link
        </button>
        <input matInput rows="1" [(ngModel)]="roominvite" readonly id="inviteTextArea">
    </div>
</div>
<div #main class="" id="main" *ngIf="roomData; else noroom">
    <!-- Video-Player -->
    <div id="playerdiv" class="playerdiv">
        <div id="addModal" class="add-modal">
            <button mat-raised-button (click)="setVideoType('Youtube')">Youtube</button>
            <button mat-raised-button (click)="setVideoType('Twitch')" disabled>Twitch (Disabled)</button>
            <span class="close cursor" (click)="closeModal()">&times;</span>

            <div *ngIf="addVideoType == 'Youtube'">
                <p class="formdescribtion">Search for a Video (Title or Url) or a Playlist(Url) on Youtube</p>
                <form>
                    <mat-form-field>
                        <mat-label>Search Youtube </mat-label>
                        <input #searchVal matInput autocomplete="off">
                    </mat-form-field>
                    <button mat-raised-button (click)="searchYT(searchVal.value);">
                        <mat-icon>youtube_searched_for</mat-icon>
                    </button>
                </form>
            </div>
        </div>
        <youtube-player *ngIf="roomData.video;else addVideoFirst" (stateChange)="onStateChange($event)"
            [videoId]="roomData.video" width="100%" height="100%" [ngStyle]="{'height.px': playerHeight}">
        </youtube-player>
    </div>
    <mat-tab-group [ngStyle]="{'height.px': playerHeight}" [selectedIndex]="selectedIndex"
        (selectedTabChange)="onTabChange($event)" class="bg-primary-light">
        <mat-tab label='Chat'>
            <mat-list id="chat-main" [ngStyle]="{'height.px': playerHeight-160}">
                <mat-list-item *ngFor="let msg of messages; let i = index">
                    <mat-card class="msgCard {{msg[2]}}">
                        <mat-card-content>
                            <p class="msg">{{msg[1]}}: {{msg[0]}}</p>
                        </mat-card-content>
                    </mat-card>
                </mat-list-item>
            </mat-list>
            <form id="chat-bot">
                <mat-form-field>
                    <mat-label>Send Message</mat-label>
                    <input #msgVal matInput autocomplete="off">
                </mat-form-field>
                <button hidden mat-raised-button (click)="sendMsg(msgVal.value); msgVal.value = ''"></button>
            </form>
        </mat-tab>
        <mat-tab label="Queue">
            <div class="addMoreWrapper">
                <button class="addMoreBtn"  mat-raised-button (click)="openModal()">
                    <mat-icon>add_to_queue</mat-icon> <span style="margin-left:1rem"> Add more </span>
                </button>
                
            </div>
            
            <mat-list id="queue" *ngIf="roomData.queue">
                <mat-list-item *ngFor="let queueElem of roomData.queue; let i = index">
                    <img id='' class='card-img' src='https://img.youtube.com/vi/{{queueElem}}/hqdefault.jpg'>
                    <div class="btn-group">
                        <button mat-raised-button (click)="setVideoFromQueue(queueElem,i)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button mat-raised-button (click)="removeFromQueue(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Results" *ngIf="results">
            <button mat-raised-button (click)="addPlaylistToQueue(); selectTab(1);">
                <mat-icon>playlist_add</mat-icon><span>Add all to Queue</span>
            </button>
            <mat-list id="searchResults">
                <mat-list-item *ngFor="let resultElem of results; let i = index">
                    <img id='' class='card-img' src='https://img.youtube.com/vi/{{resultElem[0]}}/hqdefault.jpg'>
                    <div class="btn-group">
                        <button mat-raised-button (click)="addToQueue(resultElem[0]); selectTab(1); closeModal(); ">
                            <mat-icon>playlist_add</mat-icon>
                        </button>
                    </div>
                    <p>{{resultElem[1]}}</p>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>


<!-- <div id="vidInfo" *ngIf="roomData && vidInfo">
    <mat-icon>remove_red_eye</mat-icon><span>{{vidInfo[4]}}</span>
    <mat-icon>thumb_up</mat-icon><span>{{vidInfo[5]}}</span>
    <mat-icon>thumb_down</mat-icon><span>{{vidInfo[6]}}</span>
</div> -->

<ng-template #noroom>
    <mat-spinner></mat-spinner>
</ng-template>