<div #main class="" id="main" *ngIf="roomData; else noroom">
    <!-- Video-Player -->
    <youtube-player *ngIf="roomData.video;else addVideoFirst" (stateChange)="onStateChange($event)"
        [videoId]="roomData.video" width="100%" height="100%" [ngStyle]="{'height.px': playerHeight}">
    </youtube-player>

    <ng-template #addVideoFirst>
        <div id="addFirstVideo" class="bg-dark">
            <h1>Add a Video to Start</h1>
            <form>
                <mat-form-field>
                    <mat-label>Start Video Url/Id</mat-label>
                    <input #firstVidVal matInput autocomplete="off">
                </mat-form-field>
                <button mat-raised-button (click)="addToQueue(firstVidVal.value);selectTab(1);">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </form>
            <h1 style="text-align: center;">Or Search YT for a Video</h1>
            <form style="text-align: center;">
                <mat-form-field>
                    <mat-label>Search Youtube </mat-label>
                    <input #firstVidSearch matInput autocomplete="off">
                </mat-form-field>
                <button mat-raised-button (click)="searchYT(firstVidSearch.value); selectTab(3);">
                    <mat-icon>youtube_searched_for</mat-icon>
                </button>
            </form>
        </div>
    </ng-template>

    <mat-tab-group [ngStyle]="{'height.px': playerHeight}" [selectedIndex]="selectedIndex"
        (selectedTabChange)="onTabChange($event)">
        <mat-tab label='Chat'>
            <mat-list id="chat-main" [ngStyle]="{'height.px': playerHeight-160}">
                <mat-list-item *ngFor="let msg of messages; let i = index">
                    <mat-card class="msgCard {{msg[2]}}">
                        <mat-card-content>
                            <p class="msg">{{msg[1]}}: {{msg[0]}}</p>
                        </mat-card-content>
                    </mat-card>
                </mat-list-item>
            </mat-list>
            <form id="chat-bot">
                <mat-form-field>
                    <mat-label>Send Message</mat-label>
                    <input #msgVal matInput autocomplete="off">
                </mat-form-field>
                <button hidden mat-raised-button (click)="sendMsg(msgVal.value); msgVal.value = ''"></button>
            </form>
        </mat-tab>
        <mat-tab label="Queue">
            
            <p class="formdescribtion">Search for a Video on Youtube</p>
            <form>
                <mat-form-field>
                    <mat-label>Search Youtube </mat-label>
                    <input #searchVal matInput autocomplete="off">
                </mat-form-field>
                <button mat-raised-button (click)="searchYT(searchVal.value);">
                    <mat-icon>youtube_searched_for</mat-icon>
                </button>
            </form>
            <p  class="formdescribtion">Or add a Video directly via Url</p>
            <form>
                <mat-form-field>
                    <mat-label>Video Id/Url</mat-label>
                    <input #addVal matInput autocomplete="off">
                </mat-form-field>
                <button mat-raised-button (click)="addToQueue(addVal.value)">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </form>
            <p  class="formdescribtion">Or add a whole Youtube Playlist</p>
            <form>
                <mat-form-field>
                    <mat-label>Playlist Url/Id </mat-label>
                    <input #searchPlayListVal matInput autocomplete="off">
                </mat-form-field>
                <button mat-raised-button (click)="searchYTPlaylist(searchPlayListVal.value);">
                    <mat-icon>youtube_searched_for</mat-icon>
                </button>

            </form>
            <mat-list id="queue" *ngIf="roomData.queue">
                <mat-list-item *ngFor="let queueElem of roomData.queue; let i = index">
                    <img id='' class='card-img' src='https://img.youtube.com/vi/{{queueElem}}/hqdefault.jpg'>
                    <div class="btn-group">
                        <button mat-raised-button (click)="setVideoFromQueue(queueElem,i)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button mat-raised-button (click)="removeFromQueue(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Results" *ngIf="results">
            <button mat-raised-button (click)="addPlaylistToQueue(); selectTab(1)">
                <mat-icon>playlist_add</mat-icon><span>Add all to Queue</span>
            </button>
            <mat-list id="searchResults">
                <mat-list-item *ngFor="let resultElem of results; let i = index">
                    <img id='' class='card-img' src='https://img.youtube.com/vi/{{resultElem[0]}}/hqdefault.jpg'>
                    <div class="btn-group">
                        <button mat-raised-button (click)="addToQueue(resultElem[0])">
                            <mat-icon>playlist_add</mat-icon>
                        </button>
                    </div>
                    <p>{{resultElem[1]}}</p>
                </mat-list-item>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
<div id="invite">
    <button mat-raised-button [cdkCopyToClipboard]="roominvite"
        (click)="this.openSnackBar('Copied to Clipboard', 'X', 1);">
        <mat-icon>content_copy</mat-icon> Copy Invite Link
    </button>
    <input matInput rows="1" [(ngModel)]="roominvite" readonly id="inviteTextArea">

</div>

<!-- <div id="vidInfo" *ngIf="roomData && vidInfo">
    <mat-icon>remove_red_eye</mat-icon><span>{{vidInfo[4]}}</span>
    <mat-icon>thumb_up</mat-icon><span>{{vidInfo[5]}}</span>
    <mat-icon>thumb_down</mat-icon><span>{{vidInfo[6]}}</span>
</div> -->

<ng-template #noroom>
    <mat-spinner></mat-spinner>
</ng-template>