#main{
    display: flex;
    .playerdiv{
        position: relative;
        min-height: 300px;
        background-color: black;
    }

    mat-tab-group{
        flex: 1;
        padding-left: 1rem;
        min-height: 300px;
        max-width: calc(30vw - 30px);
    }
    
}

::ng-deep.mat-tab-body-wrapper{
    height: 100%;
    .addMoreWrapper{
        width: 100%;
        text-align: center;
        .addMoreBtn{
            padding: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 1rem auto;
            text-align: center;
        }
        .mat-icon{
            transform: scale(2);
        }
    }
}

.formdescribtion{
    font-size: xx-large;
}

#chat{
    height: 100%;
    &-main{
        overflow: hidden;
        padding-right: 17px;
        mat-list-item{
            height: fit-content;
            bottom: 0px;
        }
        &:hover{
            overflow-y: scroll;
            padding-right: 0;
            position: relative;
            bottom: 0;
        }
    }
    &-users{
        mat-list-item{
            text-align: center;
        }
    }
    &-bot{
        margin-top: 10px;
        width: 100%;
        .mat-form-field{
            width: calc(100% - 32px);
            padding: 0 16px;
        }

    }
    
}
::ng-deep.mat-card{
    border-radius: 0 !important;
    &.msgCard{
        padding: 0px !important;
        width: 100%;
        max-width: 100%;
        color: white;
        .msg{
            padding: 10px;
            overflow-wrap: break-word;
        }

    }
}





#queue,#history,#searchResults{
    mat-list-item{
        height: 10%;
        width: 80%;
        margin: 10px 10% auto;
        img{
            width: 100%;
        }
        #videotitle{
            z-index: 1;
            position: absolute;
            top: 0;
            left: 16px;
        }
        .queue-btn-group{
            z-index: 2;
            position: absolute;
            top: 0;
            right: 16px;
        }
        .searchResults-btn-group{
            z-index: 2;
            display: block;
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            overflow: auto;
            button{
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0);
                color: rgba(0,0,0,0);
                .mat-icon{
                    transform: scale(2);
                }
                &:hover{
                    background-color: rgba(0,0,0,0.85);
                    color: white;
                }
            }
        }
        p{
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 16px;
            color: white;
        }
    }
}

#vidInfo{
    span{
        font-size: larger;
    }
    mat-icon{
        margin-left: 15px;
        margin-right: 5px;
        vertical-align: bottom;
    }
}



mat-spinner{
    margin: 10% 50% auto;
}

.add-modal {
    display: none;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    padding: 1rem;
    overflow: auto;
    z-index: 2; 
    button{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    input{
        font-size: x-large;
    }
    mat-label{
        font-size: x-large;
    }
    
    div{
        padding: 1rem;
        form{
            display: flex;
            mat-form-field{
                flex: 1;
            }
        }
    }
}
.close {
    color: white;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    float: right;
}
.close:hover,.close:focus {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}

.top{
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    #invite{
        flex: 1;
        margin-left: 1rem;
        #inviteTextArea{
            max-width: 80%;
            margin-left: 1rem;
            vertical-align: middle;
        }
        button{
            min-width: fit-content;
        }
    }
}

.exitTheatreMode{
    float: right;
    height: 50px;
    margin-bottom: -50px;
    &:hover{
        cursor: pointer;
    }
}


@media only screen and (max-width: 1024px) {
    #main{
        display: block;
        mat-tab-group{
            width: 100%;
            padding-left: 0;
            max-width: 100vw;
        }
    }
    .top{
        display: block;
        #invite{
            margin-left: 0 !important;
            margin-top: 1rem;
        }
    }

    .formdescribtion{
        font-size: large;
    }

    .formdescribtion{
        font-size: smaller;
    }
    
}


.alerts-border {
    border: 1px rgba($color: #000000, $alpha: 0.0) solid;
    border-radius: 5px;
    animation: blink 1s;
    animation-iteration-count: 1;
}

@keyframes blink { 50% { border: 1px #ff0000 solid; }  }