<div class="top">
    <div class="addMoreWrapper">
        <button class="addMoreBtn" mat-raised-button (click)="openModal()" *ngIf="roomData">
            <mat-icon>add_to_queue</mat-icon> {{languageService.currentLanguage.addVideo}}
        </button>

    </div>

    <div id="invite">
        <button mat-raised-button [cdkCopyToClipboard]="roominvite"
            (click)="this.openSnackBar('Copied to Clipboard', 'X', 1);">
            <mat-icon>content_copy</mat-icon> {{languageService.currentLanguage.copyInviteLinkDescrition}}
        </button>
    </div>
</div>
<div #main class="" id="main" *ngIf="roomData; else noroom">
    <!-- Video-Player -->
    <div id="playerdiv" class="playerdiv">
        <button mat-raised-button *ngIf="inTheatreMode" (click)="exitFullscreen();" class="exitTheatreMode">&times;
        </button>
        <div id="addModal" class="add-modal">
            <button mat-raised-button (click)="setVideoType('youtube')">Youtube</button>
            <button mat-raised-button (click)="setVideoType('twitch')">Twitch</button>
            <span class="close cursor" (click)="closeModal()">&times;</span>
            <div *ngIf="addVideoType == 'youtube'" id="addVideoForm">
                <p class="formdescribtion">{{languageService.currentLanguage.searchYTDescrition}}</p>
                <form label>
                    <mat-form-field>
                        <mat-label>{{languageService.currentLanguage.searchYT}} </mat-label>
                        <input #searchVal0 matInput autocomplete="off" id="searchYTInput">
                    </mat-form-field>
                    <button mat-raised-button (click)="searchYT(searchVal0.value);">
                        <mat-icon>youtube_searched_for</mat-icon>
                    </button>
                </form>
            </div>
            <div *ngIf="addVideoType == 'twitch'">
                <p class="formdescribtion">{{languageService.currentLanguage.searchTwitchDescrition}}</p>
                <form>
                    <mat-form-field>
                        <mat-label>{{languageService.currentLanguage.searchTwitch}}</mat-label>
                        <input #searchVal1 matInput autocomplete="off" id="searchTTVInput">
                    </mat-form-field>
                    <button mat-raised-button (click)="searchTwitch(searchVal1.value);">
                        <mat-icon>add_to_queue</mat-icon>
                    </button>
                </form>
            </div>
        </div>
        <app-player [room]="self"></app-player>
    </div>
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)" id="sideTabGroup"
        class="bg-primary-light">

        <mat-tab label="{{languageService.currentLanguage.queue}}">
            <div class="addMoreWrapper">
                <button class="addMoreBtn" mat-raised-button (click)="openModal()">
                    <mat-icon>add_to_queue</mat-icon> <span style="margin-left:1rem">
                        {{languageService.currentLanguage.addVideo}} </span>
                </button>

            </div>

            <mat-list id="queue" *ngIf="roomData.queue">
                <mat-list-item *ngFor="let queueElem of roomData.queue; let i = index">
                    <!-- YT Thumbnail -->
                    <img id='' class='card-img' *ngIf="queueElem[0] =='youtube'"
                        src='https://img.youtube.com/vi/{{queueElem[1]}}/hqdefault.jpg'>
                    <!-- Twitch Vod (Twitch logo for now) -->
                    <img id='' class='card-img' *ngIf="queueElem[0] =='twitch' && queueElem[1].includes('video')"
                        src='https://blog.twitch.tv/assets/uploads/03-glitch.jpg'>
                    <!-- Twitch Channel Preview -->
                    <img id='' class='card-img' *ngIf="queueElem[0] =='twitch' && !(queueElem[1].includes('video'))"
                        src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{queueElem[1].split('/')[1]}}-440x248.jpg">
                    <span id="videotitle" *ngIf="queueElem[2]">{{queueElem[2]}}</span>

                    <div class="queue-btn-group">
                        <button mat-raised-button (click)="setVideoFromQueue(queueElem[0],queueElem[1],queueElem[2],i)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button mat-raised-button (click)="removeFromQueue(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>

        <mat-tab label="{{languageService.currentLanguage.history}}">
            <mat-list id="history" *ngIf="roomData.history">
                <mat-list-item *ngFor="let historyElem of roomData.history; let j = index">
                    <!-- YT Thumbnail -->
                    <img id='' class='card-img' *ngIf="historyElem[0] =='youtube'"
                        src='https://img.youtube.com/vi/{{historyElem[1]}}/hqdefault.jpg'>
                    <!-- Twitch Vod (Twitch logo for now) -->
                    <img id='' class='card-img' *ngIf="historyElem[0] =='twitch' && historyElem[1].includes('video')"
                        src='https://blog.twitch.tv/assets/uploads/03-glitch.jpg'>
                    <!-- Twitch Channel Preview -->
                    <img id='' class='card-img' *ngIf="historyElem[0] =='twitch' && !(historyElem[1].includes('video'))"
                        src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{historyElem[1].split('/')[1]}}-440x248.jpg">
                    <span id="videotitle" *ngIf="historyElem[2]">{{historyElem[2]}}</span>
                    <div class="queue-btn-group">
                        <button mat-raised-button
                            (click)="addToQueue(historyElem[0],historyElem[1],historyElem[2]); selectTab(0); closeModal(); ">
                            <mat-icon>playlist_add</mat-icon>
                        </button>
                        <button mat-raised-button (click)="removeFromHistory(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-tab>

        <mat-tab label="{{languageService.currentLanguage.results}}" *ngIf="results">
            <button mat-raised-button (click)="addPlaylistToQueue(); selectTab(0);">
                <mat-icon>playlist_add</mat-icon><span>{{languageService.currentLanguage.addAll}}</span>
            </button>
            <mat-list id="searchResults">
                <mat-list-item *ngFor="let resultElem of results; let i = index">
                    <img id='' class='card-img' src='https://img.youtube.com/vi/{{resultElem[0]}}/hqdefault.jpg'>
                    <div class="searchResults-btn-group">
                        <button mat-raised-button
                            (click)="addToQueue('youtube',resultElem[0],resultElem[1]); selectTab(0); closeModal(); ">
                            <mat-icon>playlist_add</mat-icon>
                        </button>
                    </div>
                    <p>{{resultElem[1]}}</p>
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label='{{currentUsers.length}} {{languageService.currentLanguage.users}}'>
            <mat-list id="chat-users" *ngIf="currentUsers && currentUsers.length != 0">
                <mat-list-item *ngFor="let user of currentUsers; let i = index">
                    <mat-card class="msgCard">
                        <mat-card-content>
                            <p class="msg" *ngIf="user != null">"{{user}}"</p>
                            <p class="msg" *ngIf="user == null">Anonym</p>

                        </mat-card-content>
                    </mat-card>
                </mat-list-item>
            </mat-list>
        </mat-tab>

    </mat-tab-group>

</div>


<div id="vidInfo" *ngIf="roomData && vidInfo">
    <mat-icon>person</mat-icon><span>{{vidInfo[2]}} - {{vidInfo[1]}}</span>
    <mat-icon>remove_red_eye</mat-icon><span>{{vidInfo[4]}}</span>
    <mat-icon>thumb_up</mat-icon><span>{{vidInfo[5]}}</span>
    <!-- <mat-icon>thumb_down</mat-icon><span>{{vidInfo[6]}}</span> -->
    <mat-icon></mat-icon><span>Posted: {{vidInfo[3]}}</span>
</div>
<div id="chat">
    <form id="chat-input">
        <mat-form-field>
            <mat-label>{{languageService.currentLanguage.sendMessage}}</mat-label>
            <input #msgVal matInput autocomplete="off">
        </mat-form-field>
        <button hidden mat-raised-button (click)="sendMsg(msgVal.value); msgVal.value = ''"></button>
    </form>
    <mat-list id="chat-main">
        <mat-list-item *ngFor="let msg of messages; let i = index">
            <mat-card class="msgCard {{msg[2]}}">
                <mat-card-content>
                    <p class="msg">{{msg[1]}}: {{msg[0]}}</p>
                </mat-card-content>
            </mat-card>
        </mat-list-item>
    </mat-list>

</div>

<ng-template #noroom>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <h1 style="text-align: center;">{{languageService.currentLanguage.roomloading}} </h1>
    <button mat-raised-button id="goback" [routerLink]="'/'">
        <mat-icon>arrow_forward</mat-icon> {{languageService.currentLanguage.goback}}
    </button>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>