div{
    margin-bottom: 50vh;
    font-size: larger;
    padding: 2rem;
    input{
        font-size: larger;
    }
}
#usernameForm{
    margin-top: 10px;
    width: 100%;
    .mat-form-field{
        width: calc(100% - 100px);
    }
    button{
        margin-top: 18px;
        float: right;
    }
}

#languageForm{
    .mat-form-field{
        width: 100%;
    }
}
.mat-option{
    background-color: black;
}

.close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}