<div class="bg-secondary">
    <form id="usernameForm">
        <mat-form-field>
            <mat-label>{{languageService.currentLanguage.username}}</mat-label>
            <input #usernameval matInput autocomplete="off" value="{{username}}">
        </mat-form-field>
        <button mat-raised-button (click)="updateUsername(usernameval.value)">
            <mat-icon>done</mat-icon>
        </button>
    </form>

    <form id="languageForm">
        <mat-form-field>
            <mat-label>{{languageService.currentLanguage.language}}</mat-label>
            <mat-select (selectionChange)="updateLanguage($event.value)">
                <mat-option *ngFor="let language of languagesArr" value="{{language.languageName}}">
                    {{language.languageName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <span class="close cursor" (click)="dismiss()">&times;</span>
</div>