mat-drawer-container{
    height: 100%;
}
mat-drawer{
    min-height: 100%;
}
button{
    width: 20%;
}
.header{
    width: 100%;
    display: inline-flex;
    app-header{
        width: 100%;
    }
}
#sideNavToggleBtn{
    position: absolute;
    z-index: 100;
    right: 0;
}
.content{
    padding: 15px;
}
@media only screen and (max-width: 1440px) {
}