mat-drawer-container{
    height: 100%;
}
mat-drawer{
    min-height: 100%;
}
button{
    width: 20%;
}
.header{
    width: 100%;
    display: inline-flex;
    app-header{
        width: 100%;
    }
}
.content{
    padding: 15px;
}
@media only screen and (max-width: 1440px) {
}