<mat-toolbar>
    <mat-toolbar-row>
        <div class="LogoAndTitle">
            <a mat-button [routerLink]="'/'"><img src="favicon.ico" alt=""></a>
            <a mat-button [routerLink]="'/'">
                <h1>Vidsync</h1>
            </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/profile'">
                <mat-icon>account_circle</mat-icon>
            </a>
        </div>
        <div>
            <a mat-button [routerLink]="'/settings'">
                <mat-icon>settings</mat-icon>
            </a>
        </div>
    </mat-toolbar-row>

</mat-toolbar>