<form [formGroup]="createRoom" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" autocomplete="off" required>
        <mat-error *ngIf="!createRoom.valid">
            Name Cant Be Empty
        </mat-error>
    </mat-form-field>
    <!-- TODO if not logged in -->

    <mat-button-toggle-group formControlName="privacy">
        <mat-button-toggle value="Public">Public</mat-button-toggle>
        <mat-button-toggle value="Private" (click)="setAuthenticated()" [disabled]="!authenticated">
            Private
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-error *ngIf=" !authenticated">
        Private Rooms require you to
        <button mat-flat-button (click)="routeToLogin()">
            Login
        </button>
        first

    </mat-error>
    <div class="recaptcha">
        <re-captcha (resolved)="resolved($event)" siteKey="6LdR-KcZAAAAAHE0XeXkhYql-aEdmnt65OI_J9um" theme="dark"
            required size="compact"></re-captcha>
    </div>


    <!-- Submit -->
    <div class="submit">
        <button mat-raised-button>Create Room</button>
    </div>
</form>