<form [formGroup]="createRoom" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" autocomplete="off">
        <mat-error *ngIf="!createRoom.valid">
            Name Cant Be Empty
        </mat-error>
    </mat-form-field>
    <!-- TODO if not logged in -->

    <mat-button-toggle-group formControlName="privacy">
        <mat-button-toggle value="Public">Public</mat-button-toggle>
        <mat-button-toggle value="Private" (click)="setAuthenticated()" [disabled]="!authenticated">
            Private
            <span *ngIf=" !authenticated">
                (disabled)
            </span>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-error *ngIf=" !authenticated">
        Private Rooms require you to
        <button mat-flat-button (click)="routeToLogin()">
            Login
        </button>
        first

    </mat-error>
    <!-- Submit -->
    <div class="submit">
        <button mat-raised-button>Create Room</button>
    </div>
</form>