<div class="sidenav">
    <mat-list>
        <div mat-subheader>Rooms</div>
        <mat-list-item>
            <a mat-button [routerLink]="'/room/'"><mat-icon>view_list</mat-icon> All Rooms </a>
        </mat-list-item>
        <mat-list-item>
            <a mat-button [routerLink]="'/room/create'"><mat-icon>create</mat-icon> Create Room </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Account</div>
        <mat-list-item class="bot">
            <a mat-button ><mat-icon>account_circle</mat-icon> Create Account </a>
        </mat-list-item>
        <mat-list-item class="bot">
            <a mat-button  ><mat-icon>login</mat-icon> Login </a>
        </mat-list-item>
    </mat-list>
</div>