<div class="sidenav">
    <mat-list>
        <mat-list-item>
            <a mat-button [routerLink]="'/'">
                <mat-icon>home</mat-icon>Home
            </a>
        </mat-list-item>
        <mat-list-item>
            <a mat-button [routerLink]="'/rooms/all'">
                <mat-icon>view_list</mat-icon> Public Rooms
            </a>
        </mat-list-item>
        <mat-list-item>
            <a mat-button [routerLink]="'/rooms/create'">
                <mat-icon>create</mat-icon> Create Room
            </a>
        </mat-list-item>
        <mat-list-item>
            <a mat-button disabled>
                <mat-icon>grade</mat-icon>Your Rooms
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div class="column-flex">


        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>Socials</div>
        <mat-list-item>
            <a mat-button [routerLink]="'/discord'">
                <mat-icon><img class="logo-image" src="https://discord.com/assets/8c9701b98ad4372b58f13fd9f65f966e.svg">
                </mat-icon>Join Discord
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Account (Soon)</div>
        <mat-list-item>
            <a mat-button disabled>
                <mat-icon>login</mat-icon> Login
            </a>
        </mat-list-item>
        <mat-list-item>
            <a mat-button disabled>
                <mat-icon>account_circle</mat-icon> Create Account
            </a>
        </mat-list-item>
    </mat-list>
</div>