<div class="wrapper">
    <div class="buttons">
        <form class="bg-secondary border">
            <h1>{{languageService.currentLanguage.createRoomDescribiton}}</h1>
            <button mat-raised-button (click)="createRoom()" id="create">
                <mat-icon>arrow_forward</mat-icon>{{languageService.currentLanguage.createRoom}}
            </button>
        </form>
        <form class="bg-secondary">
            <h1>{{languageService.currentLanguage.joinRoomDescribiton}}</h1>
            <mat-form-field>
                <mat-label>e.g. https://vidsync.de/room/5ed63003d51f16148ad3a4cd </mat-label>
                <input #inviteVal matInput autocomplete="off">
            </mat-form-field>
            <button mat-raised-button (click)="join(inviteVal.value)">
                <mat-icon>arrow_forward</mat-icon> {{languageService.currentLanguage.joinRoom}}
            </button>
        </form>
    </div>
    <p class="openSourceNotice">
        {{languageService.currentLanguage.vidsyncDescribtion}}
        (<a href="https://gitlab.com/QX4MX/vidsync">Gitlab Vidsync<mat-icon>link</mat-icon></a>)
    </p>
    <div class="discord-bot-invite bg-secondary">
        <form>
            <h1>{{languageService.currentLanguage.inviteBotDescribtion}}</h1>
            <button mat-raised-button (click)="inviteDCBot()" id="inviteBot">
                <mat-icon>arrow_forward</mat-icon>{{languageService.currentLanguage.inviteBot}}
            </button>
        </form>
        <div>
            <img src="/assets/DiscordBotPreview.png" alt="">
            <p class="openSourceNotice">
                {{languageService.currentLanguage.botDescrition}}
                ( <a href="https://gitlab.com/QX4MX/vidsync-bot">Gitlab
                    Vidsync-Discord-Bot
                    <mat-icon>link</mat-icon>
                </a> )
            </p>
        </div>
    </div>
    <div style="width: 100%; text-align: center;">
        <a href="mailto:qx4mx@vidsync.de" style="margin-right: 2rem; color: white"> qx4mx&#64;vidsync.de </a>
        <a [routerLink]="'/privacy'" style="color: white"> Privacy-Policy </a>
    </div>
</div>