<div class="wrapper">
    <p>Vidsync is an open-source project ( <a href="https://gitlab.com/QX4MX/vidsync">Gitlab <img src="https://gitlab.com/QX4MX/vidsync/badges/master/pipeline.svg"></a> ),
        which allows users to watch YouTube videos together by creating or joining Rooms to watch with your friends.
    </p>
    <div class="buttons">
        <form class="bg-secondary" style="border: 1px red solid;">
            <h1>Create a Room</h1>
            <button mat-raised-button (click)="createRoom()" id="create">
                <mat-icon>arrow_forward</mat-icon>New Room
            </button>
        </form>
        <form class="bg-secondary">
            <h1>Join a Room</h1>
            <mat-form-field>
                <mat-label>e.g. https://vidsync.de/room/5ed63003d51f16148ad3a4cd </mat-label>
                <input #inviteVal matInput autocomplete="off">
            </mat-form-field>
            <button mat-raised-button (click)="join(inviteVal.value)">
                <mat-icon>arrow_forward</mat-icon> Join Room
            </button>
        </form>
        
    </div>
    <div class="discord-bot-invite bg-secondary">
        <form >
            <h1>Invite the Vidsync Discord Bot to your Discord Server.</h1>
            <button mat-raised-button (click)="inviteDCBot()" id="create">
                <mat-icon>arrow_forward</mat-icon>Invite Discord Bot
            </button>
        </form>
        <div>
            <img src="/assets/DiscordBotPreview.png" alt="">
            <p>The Vidsync Discord Bot will answer to every Youtube link, by creating a room for the linked video or even a whole playlist. The bot is open-source aswell ( <a href="https://gitlab.com/QX4MX/vidsync-discord-bot">Gitlab</a> ) </p>
        </div>
    </div>
</div>