.wrapper{
    width: 70%;
    margin: 0 auto;
    .buttons{
        text-align: center;
        display: flex;
        margin: 2rem auto;
        form{
            border-radius: 5px;
            padding: 1rem;
            flex: 1;
            margin: 1rem;
            mat-form-field{
                width: 70%;
            }
            button{
                flex: 1;
                min-width: fit-content;
                padding: 1rem;
            }
        }
    }
    .openSourceNotice{
        margin: auto;
        padding: 1rem;
        font-size: 20px;
        text-align: center;
        line-height: 130%;
        a{
            color: white;
            text-decoration: underline !important;
        }
    }

    .discord-bot-invite{
        margin: 2rem auto;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        form{
            h1{
                text-align: center;
            }
            button{
                flex: 1;
                min-width: fit-content;
                width: 100%;
                margin: 1rem auto;
                padding: 1rem;
            }
        }
        div{
            display: inline-flex;
            img{
                width: 40%;
                margin: auto;
    
            }
            p{
                width: 40%;
                margin: auto;    
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .wrapper{
        width: 100%;
        margin: 1rem auto;
        .buttons{
            text-align: center;
            display: block;
            margin: 2rem auto;
        }
    
        #create{
            display: block;
            min-width: fit-content;
            margin: 2rem auto;
        }
        form{
            margin: 1rem auto;
            mat-form-field{
                width: 70%;
            }
            button{
                width: fit-content;
            }
        }
        
        p{
            margin: 2rem auto;
            font-size: 20px;
    
            line-height: 130%;
            a{
                text-decoration: none;
                text-decoration: underline;
            }
            img{
                vertical-align: middle;
            }
        }
        .discord-bot-invite{
            margin: 2rem auto;
            border-radius: 5px;
            padding: 1rem;
            margin: 1rem;
            div{
                display: block;
                img{
                    width: 100%;
                    margin: auto;
        
                }
                p{
                    width: 100%;
                    margin: auto;    
                }
            }
        }
    }
}