
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

@import '~@angular/material/theming';
@include mat-core();

@import './scss/_variables.scss';


html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 0;
    background-color: $darkest;
    *{
        color: white;
    }
}

//outer
.mat-toolbar{
    background-color: $darkest;
}

.mat-drawer{
    background-color: $darkest;
}
//inner
.mat-drawer-container{
    background-color: $darker;
}

.content{
    background-color: $darker;
}


button{
    background-color: $lighter;
    min-width: fit-content;
    
    &:hover:enabled{
        background-color: $selected !important;
    } 
}

.mat-active{
    background-color: $selected !important;
}

.mat-raised-button{
    background-color: $lighter !important;
}

.mat-flat-button{
    background-color: $lighter !important;
}



.mat-button-toggle{
    background-color: $lighter !important;
}

.mat-button-toggle-checked{
    background-color: $selected !important;
}

.mat-button-toggle-disabled{
    background-color: $dark !important;
}


.mat-card{
    background-color: $dark;
}


.dark{
    background-color: $dark !important;
}
.light{
    background-color: $light !important;
}

.mat-form-field-label {
	/*change color of label*/
	color: $lightest !important;
}
  
.mat-form-field-underline {
	/*change color of underline*/
    background-color: $lightest !important;
}

.mat-ink-bar{
    background-color: $selected !important;
}

.mat-tab-header-pagination-chevron{
    border-color: $selected;
}


.mat-option.mat-active {
    background: $selected !important;
}

.mat-option:hover:not(.mat-option-disabled) {
    background: $dark !important;
}

.mat-option{
    background-color: $darker;
    &:hover{
        background-color: $selected;
    }
}

.mat-bottom-sheet-container{
    background-color: $dark;
}

.bg-dark{
    background-color: $dark;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
