$selected: rgb(165, 3, 0);

$primary: #222225;

$primary-light: #44454c;

$primary-dark: #000000;

$secondary: #434447;

$secondary-light: #6c6d75;

$secondary-dark: #131516;

$text-on-primary: #ffffff;

$text-on-secondary: #ffffff;