button{
	background-color: rgb(55, 55, 55);
}


#main{
    display: flex;
    youtube-player{
        width: 70%;
    }
    mat-tab-group{
        width: 30%;
        padding-left: 1rem;
    }
    
}

::ng-deep.mat-tab-body-wrapper{
    height: 100%;
}



#chat{
    height: 100%;
    &-main{
        overflow: hidden;
        padding-right: 17px;
        mat-list-item{
            color: white;
            
        }
        &:hover{
            overflow-y: scroll;
            padding-right: 0;
            position: relative;
            bottom: 0;
        }
    }
    &-bot{
        margin-top: 10px;
        width: 100%;
        .mat-form-field{
            width: 90%;
        }

    }
    
}

.dark{
    background-color: rgb(55, 55, 55) !important;
}
.light{
    background-color: rgb(100, 100, 100) !important;
}

#queue,#searchResults,#playListResults{
    mat-list-item{
        height: 10%;
        width: 80%;
        margin: 10px 10% auto;
        img{
            width: 100%;
        }
        .btn-group{
            z-index: 1;
            position: absolute;
            top: 0;
            right: 16px;
        }
        p{
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 16px;
            color: white;
        }
    }
}

#vidInfo{
    span{
        font-size: larger;
    }
    mat-icon{
        margin-left: 15px;
        margin-right: 5px;
        vertical-align: bottom;
    }
}
#addFirstVideo{
    width: 80%; 
    background-color: rgb(30,30,30);
    text-align: center;
}

::ng-deep .mat-form-field-label {
	/*change color of label*/
	color: rgb(100, 100, 100) !important;
}
  
::ng-deep.mat-form-field-underline {
	/*change color of underline*/
	background-color: rgb(100, 100, 100) !important;
}

::ng-deep.mat-tab-label{
    color: white ;
    padding: 0 !important;
    min-width: 100px !important;
    
}

::ng-deep.mat-tab-header-pagination-chevron{
    border-color: white;
}

mat-spinner{
    margin: 10% 50% auto;
}

@media only screen and (max-width: 1024px) {
    #main{
        display: block;
        youtube-player{
            width: 100%;
        }
        mat-tab-group{
            width: 100%;
        }
    }
}