#main{
	display: flex;
}
button{
	background-color: rgb(55, 55, 55);
}

form{
	margin: 10px;
	button{
		margin-left: 5px;
	}
}

#Chat{
	width: 100%;
	background-color: rgba(40, 40, 40,0.8);
	mat-list{
		height: 90%;
		overflow: hidden;
		word-wrap: break-word;
		padding-right: 17px;
		mat-list-item{
			padding: 5px;
			color: white;
			margin-bottom: 10px;
		}
		.light{
			background-color: rgb(55, 55, 55);
		}
		&:hover {
			padding-right: 0;
			overflow-y: scroll;
		}
		
	}
	form{
		height: 10%;
		width: 100%;
		position: relative;
		bottom: 0;
		margin: 0;
		mat-form-field{
			width: 90%;
			padding: 5px;
		}
	}
}



#queue,#searchResults{
	padding: 0;
	background-color: rgb(34, 34, 34);
	list-style: none;
	overflow: auto;
	white-space: nowrap;
	p{
		font-family: Roboto, "Helvetica Neue", sans-serif;;
		margin: 0;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}
	li{
		display: inline-block;
		text-align: center;
		margin: 1rem;
		img{
			z-index: 0;
			width: 240px;
			height: 180px;
			margin-bottom: -90px;	
		}
		p{
			z-index: 1;
			color: white;
		}
		.btn-group{
			position: relative;
			background-color: rgba(40, 40, 40,0.8);
			padding: 0.5rem;
			button{
				margin: 5px;
			}
		}
    }
}

::ng-deep .mat-form-field-label {
	/*change color of label*/
	color: rgb(100, 100, 100) !important;
}
  
::ng-deep.mat-form-field-underline {
	/*change color of underline*/
	background-color: rgb(100, 100, 100) !important;
}


@media only screen and (max-width: 1024px) {
	#main{
		display: contents;
	}
}