<div class="content" *ngIf="roomData">
    <div #main class="" id="main" (window:resize)="onResize()" [style.height.px]="playerHeight" *ngIf="videoId; else noVideo">
        <!-- Video-Player -->
        
        <youtube-player
                (stateChange)="onStateChange($event)"
                [videoId]="roomData.video"
                [height]="playerHeight"
                [width]="playerWidth"
        >
        </youtube-player>
        <div id="Chat">
			<mat-list #msgList id="msgList">
                <mat-list-item *ngFor="let msg of messages; let i = index" class="{{msg[1]}}">
                    <p >{{msg[0]}}</p>
                </mat-list-item>
			</mat-list> 
			<form>
                <mat-form-field>
                  <mat-label>Send Message</mat-label>
                  <input #msgVal matInput (keyup)="msgonKey(msgVal.value)" value={{msgValue}} autocomplete="off">
                </mat-form-field>
                <button hidden mat-raised-button (click)="sendMsg()"></button>
            </form>
		</div>

        
    </div>
    <ng-template #noVideo>Add a Video to Start</ng-template>
    
    <div style="display: flex;">
        <form>
            <mat-form-field>
            <mat-label>Video Id/Url</mat-label>
            <input #addVal matInput (keyup)="addToQueueonKey(addVal.value)">
            </mat-form-field>
            <button mat-raised-button (click)="addToQueue()"><mat-icon>playlist_add</mat-icon></button>
        </form>

        <form>
            <mat-form-field>
            <mat-label>Search Youtube (TODO)</mat-label>
            <input #searchVal matInput (keyup)="seachYTonKey(searchVal.value)">
            </mat-form-field>
            <button mat-raised-button (click)="searchYT()"><mat-icon>playlist_add</mat-icon></button>
        </form>
    </div>

    <ul id="queue" *ngIf="roomData">
        <p>Queue</p>
        <li *ngFor="let queueElem of roomData.queue; let i = index">
            <img id=''class='card-img' src='https://img.youtube.com/vi/{{queueElem}}/hqdefault.jpg'>
            <div class="btn-group">
                <p>{{queueElem}}</p>
                <button mat-raised-button (click)="setVideoFromQueue(queueElem,i)"><mat-icon>play_arrow</mat-icon></button>
                <button mat-raised-button (click)="removeFromQueue(i)"><mat-icon>remove</mat-icon></button>
            </div>
            
            
        </li>
    </ul>
</div>
