<mat-toolbar class="bg-primary-dark">
    <mat-toolbar-row>
        <a id="logo" mat-button [routerLink]="'/'"><img src="favicon.ico" alt="">
            Vidsync
        </a>
        <span style="flex: 1;"></span>
        <div id="menu">
            <a mat-button (click)="openUserInfo()">
                <mat-icon>account_circle</mat-icon>
            </a>
            <a mat-button [routerLink]="'/discord'">
                Join Discord
            </a>
            <a mat-button href="https://gitlab.com/QX4MX/vidsync" target="_blank">
                Gitlab
            </a>

        </div>
    </mat-toolbar-row>

</mat-toolbar>