@import '~@angular/material/theming';
@include mat-core();

@import './scss/_variables.scss';


html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 0;
    background-color: $darkest;
    *{
        color: white;
    }
}

//outer
.mat-toolbar{
    background-color: $darkest;
}

.mat-drawer{
    background-color: $darkest;
}
//inner
.mat-drawer-container{
    background-color: $darker;
}

.content{
    background-color: $darker;
}


button{
    background-color: $lighter;
    min-width: fit-content;
    
    &:hover:enabled{
        background-color: $selected !important;
    } 
}

.mat-active{
    background-color: $selected !important;
}

.mat-raised-button{
    background-color: $lighter !important;
}

.mat-flat-button{
    background-color: $lighter !important;
}



.mat-button-toggle{
    background-color: $lighter !important;
}

.mat-button-toggle-checked{
    background-color: $selected !important;
}

.mat-button-toggle-disabled{
    background-color: $dark !important;
}


.mat-card{
    background-color: $dark;
}


.dark{
    background-color: $dark !important;
}
.light{
    background-color: $light !important;
}

.mat-form-field-label {
	/*change color of label*/
	color: $lightest !important;
}
  
.mat-form-field-underline {
	/*change color of underline*/
    background-color: $lightest !important;
}

.mat-ink-bar{
    background-color: $selected !important;
}

.mat-tab-header-pagination-chevron{
    border-color: $selected;
}


.mat-option.mat-active {
    background: $selected !important;
}

.mat-option:hover:not(.mat-option-disabled) {
    background: $dark !important;
}

.mat-option{
    background-color: $darker;
    &:hover{
        background-color: $selected;
    }
}

.mat-bottom-sheet-container{
    background-color: $dark;
}

.bg-dark{
    background-color: $dark;
}