<div *ngIf="!authenticated && getOwnRooms">
    You need to
    <button (click)="routeToLogin()">
        Login
    </button>
    first.
</div>

<div class="filterForm">
    <button mat-raised-button (click)="readRoom()">
        <mat-icon>refresh</mat-icon> Refresh List
    </button>
    <mat-form-field>
        <input #searchVal matInput placeholder="Search" autocomplete="off" (keyup)="searchByName(searchVal.value)">
    </mat-form-field>
    <button mat-raised-button (click)="searchByName(searchVal.value)">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-raised-button (click)="sortByDate()">
        <mat-icon>sort</mat-icon>Show Newest First
    </button>
</div>
<div *ngIf="searchResults.length == 0">
    Didnt Find any Rooms.
</div>
<div class="roomList">
    <mat-card class="room-card" *ngFor="let room of searchResults; let i = index">
        <mat-card-header>
            <mat-card-title>
                {{room.name}}
                <span *ngIf="authenticated && room.creator == authenticatedUserName">
                    (Your Room)
                </span>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://img.youtube.com/vi/{{room.video}}/hqdefault.jpg' alt="Video Thumbnail">
        <mat-card-content>
            <p *ngIf="room.creator != null">{{room.creator}}</p>
            <p *ngIf="authenticated && getOwnRooms">{{room.privacy}}</p>
            <p>{{room.created_date}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="['/rooms/', room._id]"> Join Room</button>
            <button mat-raised-button *ngIf="authenticated && room.creator == authenticatedUserName"
                (click)="deleteRoom(room._id,i)"> Delete Room</button>
        </mat-card-actions>
    </mat-card>
</div>