.roomList{
    height: 100%;
	width: 98%;
    margin: 0 1%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.mat-card {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 21%;
    margin: 1%;
    padding: 1%;
    .mat-card-image{
        width: calc(100% - .5rem);
    }
    .mat-card-content{
        span{
            display: flex;
        }
    }
    .mat-card-actions{
        margin-bottom: .5rem;
    }
    
}

button{
    background-color: rgb(60, 60, 60);
    color: white;
}

.filterForm{
    text-align: center;
    mat-form-field, button{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
::ng-deep .mat-form-field-label {
	/*change color of label*/
	color: rgb(100, 100, 100) !important;
}
  
::ng-deep.mat-form-field-underline {
	/*change color of underline*/
	background-color: rgb(100, 100, 100) !important;
  } 

@media only screen and (max-width: 1024px) {
    .roomList{
        height: 100%;
        width: 98%;
        margin: 0 1%;
        display: inline-flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .mat-card {
        background-color: rgb(40, 40, 40);
        color: white;
        width: 90%;
        margin: 5%;
        padding: 5%;
        .mat-card-image{
            width: calc(100% - .5rem);
        }
      }
}